[workspace]
members = ["icechunk", "icechunk-python", "icechunk-macros"]
default-members = ["icechunk"]
resolver = "2"

[workspace.lints.clippy]
expect_used = "warn"
unwrap_used = "warn"
panic = "warn"
todo = "warn"
unimplemented = "warn"
dbg_macro = "warn"

[workspace.metadata.release]
allow-branch = ["main", "release-*", "support/v*"]
sign-commit = true
sign-tag = true
push = false

[profile.release]
lto = "thin"
codegen-units = 1

[profile.perf]
inherits = "release"
debug = 1

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1
debug = "line-tables-only" # allow file:line info in backtraces

# Enable higher optimizations for dependencies, but not our code
[profile.dev.package."*"]
opt-level = 2

[profile.ci]
inherits = "dev"
opt-level = 0
debug = 0

[profile.ci.package."*"]
opt-level = 1
