[package]
name = "icechunk"
version = "0.1.0"
edition = "2021"
description = "Icechunk client"
readme = "README.md"
publish = false

[dependencies]
arrow = { version = "52.2.0", features = ["prettyprint"] }
async-trait = "0.1.81"
bytes = "1.7.1"
futures = "0.3.30"
itertools = "0.13.0"
rand = "0.8.5"
thiserror = "1.0.63"

[profile.release-with-debug]
inherits = "release"
debug = true

[dev-dependencies]
pretty_assertions = "1.4.0"
proptest = "1.0.0"
tokio = { version = "1.39.2", features = ["rt-multi-thread", "macros"] }
