/* Homepage styles */

/* Application header should be static for the landing page */
.md-header {
    position: initial;
  }

  /* Remove spacing, as we cannot hide it completely */
  .md-main__inner {
    margin: 0;
    max-width: 100%;
  }

  /* Hide breadcrumb in content */
  #home-content a:first-child {
      display:none;
  }

  /* Hide table of contents for desktop */
  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none !important; 
    }
  }

  /* Hide navigation for desktop */
  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;  
    }
  }

/* Hero */
#hero-container {

  --ice-height: 390px;
  --header-height: 155px;

  min-height: calc(100vh - var(--header-height));
  position: relative;
  text-align:center;
  background: linear-gradient(180deg, var(--md-primary-fg-color) 0%, var(--md-primary-fg-color--dark)  100%);
}

.mdx-hero {
  min-height: calc(100vh - var(--header-height) - var(--ice-height));
}

.hero-image-container {}

#hero-image {
  margin-top: 10%;
  width: 30%;
  height: auto;
  filter: drop-shadow( 3px 5px 5px rgba(0, 0, 0, .15));
}

h1.hero-title {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
    color: var(--md-primary-bg-color);
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);

}

h3.hero-subtitle {
    color: var(--md-primary-fg-color--light);
    margin-top:0px;
    margin-bottom: 60px;
    font-size: 1.5rem;
    text-transform: lowercase;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);

}


.hero-cta-button {
    background-color: var(--md-primary-bg-color);
    box-shadow: 5px 5px 0px rgba(0,0,0,0.1);
}

.links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 60px;
}


.by-line-wrapper {
  margin: 60px auto;
  width: 50%;
  
}

.by-line-container {
  
  border-radius: 20px;
  padding: 10px;
  color: var(--md-primary-fg-color--light);
  font-size: 1.25rem;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;

}

.by-line {
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);

}

.heart-container {
  display:block;
  padding-top:15px;
}
.heart-image {
  width: 40px;
  min-width: 40px;
  height: auto;
}

.earthmover-wordmark {
  width: 260px;
}

/* ice */
.ice-container {
    height: var(--ice-height);
    width: 100%;
    overflow:hidden;
    background-image: url('../assets/hero/hero-bottom.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
}

/* Mobile */
@media screen and (max-width: 60em) {

  #hero-image {
    min-width: 200px;
  }

  h1.hero-title{
    font-size:2rem;
  }

  h3.hero-subtitle {
    font-size: 1rem;
  }


  .links {
    flex-direction: column;
    align-items: center;
  }

  .by-line-wrapper {
    width:70%;
  }

  .by-line-container {
    flex-direction: column;
  }
  .by-line span {
    font-size: 0.85rem;
  }
  
  .earthmover-wordmark {
    width: 200px;
  }
}

/* Dark theme */
[data-md-color-scheme="slate"]{
  .ice-container {
    background-image: url('../assets/hero/hero-bottom-dark.svg');
  }
}