[package]
name = "icechunk-python"
version = "0.2.7"
description = "Transactional storage engine for Zarr designed for use on cloud object storage"
readme = "../README.md"
repository = "https://github.com/earth-mover/icechunk"
homepage = "https://github.com/earth-mover/icechunk"
license = "Apache-2.0"
keywords = ["zarr", "xarray", "database"]
categories = ["database", "science", "science::geo"]
authors = ["Earthmover PBC"]
edition = "2021"
publish = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_icechunk_python"
crate-type = ["cdylib"]

[dependencies]
bytes = "1.10.0"
chrono = { version = "0.4.40" }
futures = "0.3.31"
icechunk = { path = "../icechunk", version = "0.2.7", features = ["logs"] }
itertools = "0.14.0"
pyo3 = { version = "0.23", features = [
  "chrono",
  #  do we really need this one?
  #  "extension-module",
  "experimental-async",
] }
pyo3-async-runtimes = { version = "0.23", features = ["tokio-runtime"] }
async-stream = "0.3.6"
thiserror = "2.0.12"
tokio = "1.43"
serde_json = "1.0.140"
async-trait = "0.1.87"
typetag = "0.2.20"
serde = { version = "1.0.218", features = ["derive", "rc"] }
miette = { version = "7.5.0", features = ["fancy"] }
clap = { version = "4.5", features = ["derive"], optional = true }

[features]
cli = ["clap", "icechunk/cli"]
default = ["cli"]

[lints]
workspace = true
