[package]
name = "icechunk-python"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_icechunk_python"
crate-type = ["cdylib"]

[dependencies]
bytes = "1.7.2"
chrono = { version = "0.4.38" }
futures = "0.3.30"
icechunk = { path = "../icechunk", version = "0.1.0" }
pyo3 = { version = "0.21", features = [
  "chrono",
  "extension-module",
  "experimental-async",
] }
pyo3-asyncio-0-21 = { version = "0.21.0", features = ["tokio-runtime"] }
async-stream = "0.3.5"
thiserror = "1.0.64"
tokio = "1.40"
rmp-serde = "1.3.0"

[lints]
workspace = true
