[package]
name = "icechunk-python"
version = "1.1.3"
description = "Transactional storage engine for Zarr designed for use on cloud object storage"
readme = "../README.md"
repository = "https://github.com/earth-mover/icechunk"
homepage = "https://icechunk.io"
license = "Apache-2.0"
keywords = ["zarr", "xarray", "database"]
categories = ["database", "science", "science::geo"]
authors = ["Earthmover PBC"]
edition = "2024"
publish = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_icechunk_python"
crate-type = ["cdylib"]

[dependencies]
bytes = "1.10.1"
chrono = { version = "0.4.41" }
futures = "0.3.31"
icechunk = { path = "../icechunk", version = "0.3.7", features = ["logs"] }
itertools = "0.14.0"
pyo3 = { version = "0.24.2", features = [
  "chrono",
  #  do we really need this one?
  #  "extension-module",
  "experimental-async",
  "multiple-pymethods",
] }
pyo3-async-runtimes = { version = "0.24", features = ["tokio-runtime"] }
async-stream = "0.3.6"
thiserror = "2.0.15"
tokio = "1.47"
serde_json = "1.0.142"
async-trait = "0.1.89"
typetag = "0.2.20"
serde = { version = "1.0.219", features = ["derive", "rc"] }
miette = { version = "7.6.0", features = ["fancy"] }
clap = { version = "4.5", features = ["derive"], optional = true }
rand = "0.9.2"
rmp-serde = "1.3.0"
pyo3-bytes = "0.2.0"

[features]
cli = ["clap", "icechunk/cli"]
default = ["cli"]

[lints]
workspace = true

[profile.perf]
inherits = "release"
debug = 1
