[package]
name = "icechunk"
version = "0.3.20"
description = "Transactional storage engine for Zarr designed for use on cloud object storage"
readme = "../README.md"
repository = "https://github.com/earth-mover/icechunk"
homepage = "https://icechunk.io"
license = "Apache-2.0"
keywords = ["zarr", "xarray", "database"]
categories = ["database", "science", "science::geo"]
authors = ["Earthmover PBC"]
edition = "2024"
publish = true

[dependencies]
async-trait = "0.1.89"
bytes = { version = "1.11.0", features = ["serde"] }
base64 = "0.22.1"
futures = "0.3.31"
itertools = "0.14.0"
object_store = { version = "0.13.0", features = [
  "aws",
  "gcp",
  "azure",
  "http",
] }
rand = "0.9.2"
thiserror = "2.0.17"
serde_json = "1.0.148"
serde = { version = "1.0.228", features = ["derive", "rc"] }
serde_with = { version = "3.16.1", features = ["hex"] }
tokio = { version = "1.48.0", features = ["rt-multi-thread", "macros"] }
test-strategy = "0.4.3"
proptest = "1.9.0"
quick_cache = "0.6.18"
base32 = "0.5.1"
chrono = { version = "0.4.42", features = ["serde"] }
async-recursion = "1.1.1"
rmp-serde = "1.3.1"
url = "2.5.7"
async-stream = "0.3.6"
rmpv = { version = "1.3.1", features = ["serde", "with-serde"] }
aws-sdk-s3 = "1.120.0"
aws-config = "1.8.12"
aws-credential-types = "1.2.11"
typed-path = "0.12.0"
aws-smithy-runtime = "1.8.5"
aws-smithy-types-convert = { version = "0.60.11", features = [
  "convert-chrono",
  "convert-streams",
] }
typetag = "0.2.21"
zstd = "0.13.3"
tokio-util = { version = "0.7.17", features = ["compat", "io-util"] }
serde_bytes = "0.11.19"
regex = "1.12.2"
tracing-error = "0.2.1"
tracing-subscriber = { version = "0.3.22", features = [
  "env-filter",
], optional = true }
tracing = "0.1.44"
err-into = "1.0.1"
serde_yaml_ng = "0.10.0"
clap = { version = "4.5", features = ["derive"], optional = true }
anyhow = { version = "1.0.100", optional = true }
dialoguer = { version = "0.12.0", optional = true }
dirs = { version = "6.0.0", optional = true }
assert_fs = { version = "1.1.3", optional = true }
flatbuffers = "25.12.19"
urlencoding = "2.1.3"

[dev-dependencies]
icechunk-macros = { path = "../icechunk-macros", version = "0.1.0" }
pretty_assertions = "1.4.1"
proptest-state-machine = "0.6.0"
tempfile = "3.24.0"
test-log = { version = "0.2.19", default-features = false, features = [
  "trace",
  "color",
  "unstable",
] }

[lints]
workspace = true

[features]
logs = ["dep:tracing-subscriber"]
cli = ["dep:clap", "dep:anyhow", "dep:dialoguer", "dep:dirs", "dep:assert_fs"]

[[bin]]
name = "icechunk"
path = "src/bin/icechunk/main.rs"
required-features = ["cli"]
