[package]
name = "icechunk"
version = "0.1.0-alpha.1"
description = "Transactional storage engine for Zarr designed for use on cloud object storage"
readme = "../README.md"
repository = "https://github.com/earth-mover/icechunk"
homepage = "https://github.com/earth-mover/icechunk"
license = "MIT OR Apache-2.0"
keywords = ["zarr", "xarray", "database"]
categories = ["database", "science", "science::geo"]
authors = ["Earthmover PBC"]
edition = "2021"
publish = true

[dependencies]
async-trait = "0.1.83"
bytes = { version = "1.7.2", features = ["serde"] }
base64 = "0.22.1"
futures = "0.3.30"
itertools = "0.13.0"
object_store = { version = "0.11.0" }
rand = "0.8.5"
thiserror = "1.0.64"
serde_json = "1.0.128"
serde = { version = "1.0.210", features = ["derive"] }
serde_with = { version = "3.9.0", features = ["hex"] }
tokio = { version = "1.40.0", features = ["rt-multi-thread", "macros"] }
test-strategy = "0.4.0"
proptest = "1.5.0"
quick_cache = "0.6.9"
base32 = "0.5.1"
chrono = { version = "0.4.38", features = ["serde"] }
async-recursion = "1.1.1"
rmp-serde = "1.3.0"
url = "2.5.2"
async-stream = "0.3.5"
rmpv = { version = "1.3.0", features = ["serde", "with-serde"] }
aws-sdk-s3 = "1.53.0"
aws-config = "1.5.7"
aws-credential-types = "1.2.1"
typed-path = "0.9.2"

[dev-dependencies]
pretty_assertions = "1.4.1"
proptest-state-machine = "0.3.0"
tempfile = "3.13.0"

[lints]
workspace = true
