name: Code Quality Checks

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
      - 'support/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CI: 1
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings -W unreachable-pub -W bare-trait-objects"
  RUSTUP_MAX_RETRIES: 10
  RUST_CHANNEL: '1.91.0'
  PIXI_VERSION: "v0.63.2"

jobs:
  code-quality:
    name: Code Quality
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ env.RUST_CHANNEL }}

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: ${{ env.PIXI_VERSION }}
          cache: true
          activate-environment: true
          environments: >-
            dev
          manifest-path: icechunk-python/pyproject.toml

      - name: Run formatting checks
        run: |
          just format --check

      - name: Run clippy linting
        run: |
          just lint --workspace

      - name: Run doc tests
        run: |
          just doctest

      - name: Python mypy type checking
        run: |
          just mypy

      - name: Run pre-commit checks (skip Rust)
        run: |
          just py-pre-commit
