name: Windows tests
on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]
  push:
    branches:
      - main
      - 'support/**'

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CI: 1
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings -W unreachable-pub -W bare-trait-objects"
  RUSTUP_MAX_RETRIES: 10

jobs:
  rust:
    name: Run rust tests in windows
    timeout-minutes: 20
    runs-on: windows-latest
    #defaults:
    #  run:
    #    working-directory: ./
    #permissions:
      #contents: read
      #actions: read
      #pull-requests: read
    env:
      #CC: deny_c
      RUST_CHANNEL: '1.89.0'


    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install Rust toolchain
        run: |
          rustup update --no-self-update ${{ env.RUST_CHANNEL }}
          rustup component add --toolchain ${{ env.RUST_CHANNEL }} rustfmt rust-src clippy
          rustup default ${{ env.RUST_CHANNEL }}

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2
        with:
          # workspaces: "rust -> target"
          key: windows-${{ env.RUST_CHANNEL }}

      - name: Check
        run: |
          cargo test --lib
